.formContainer {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.addEmpForm {
    box-shadow: 0 0 15px #000;
    padding: 1rem;
    border-radius: 1rem;
}

.addEmpForm button {
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: #cd2634;
    color: #fff;
    font-weight: bold
}
.inputs input {
    padding: 0.3rem;
    border: none;
    border-bottom: 1px solid;
}